@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #000000;
    color: #ffffff;
}

::-moz-selection {
    background-color: #000000;
    color: #ffffff;
}

img{
     image-rendering: -webkit-optimize-contrast;
     image-rendering: crisp-edges;
  image-resolution: 300dpi;
  object-fit: contain;
     
}